@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.birthday-gift {
  position: relative;
}

input#click {
  display: none;
}

.gift:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 100px;
  left: 62px;
  top: 0;
}

.gift:after {
  content: "";
  position: absolute;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 100px;
  border-radius: 5px;
}

.click {
  position: absolute;
  background-color: #efb4bc;
  width: 170px;
  height: 40px;
  top: -40px;
  left: -10px;
  transform-origin: bottom left;
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.click:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 40px;
  left: 69px;
  top: 0;
}

.click:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-90deg);
  left: 65px;
  top: -47px;
}

#click:checked + .click {
  transform: rotate(-110deg) scaleX(0.85);
}

.giftbox {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  z-index: 10;
  & > div {
    background: #e26376;
    position: absolute;
    &:after,
    &:before {
      position: absolute;
      content: "";
      top: 0;
    }
  }
  &:after {
    position: absolute;
    color: #fff;
    width: 100%;
    content: "Click Me!";
    left: 0;
    bottom: 0;
    font-size: 24px;
    text-align: center;
    transform: rotate(-20deg);
    transform-origin: 0 0;
  }
  .cover {
    width: 100%;
    top: 0;
    left: 0;
    height: 25%;
    z-index: 2;
    &:before {
      position: absolute;
      height: 100%;
      left: 50%;
      width: 50px;
      transform: translateX(-50%);
      background: #efb4bc;
    }
    & > div {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      &:before,
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        box-shadow: inset 0 0 0 15px #efb4bc;
        border-radius: 30px;
        transform-origin: 50% 100%;
      }
      &:before {
        transform: translateX(-45%) skewY(40deg);
      }
      &:after {
        transform: translateX(45%) skewY(-40deg);
      }
    }
  }
  .box {
    right: 5%;
    left: 5%;
    height: 80%;
    bottom: 0;
    &:before {
      width: 50px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: #efb4bc;
    }
    &:after {
      width: 100%;
      height: 30px;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.step-1 {
  .giftbox {
    animation: wobble 0.5s linear infinite forwards;
  }
  .cover {
    animation: wobble 0.5s linear infinite 0.1s forwards;
  }
  .icons .row span {
    opacity: 1;
  }
}
.step-2 .giftbox:after {
  opacity: 0;
}
.step-3 .giftbox,
.step-4 .giftbox {
  opacity: 0;
  z-index: 1;
  &:after {
    opacity: 0;
  }
}
.step-2 {
  .giftbox {
    .cover {
      animation: flyUp 0.4s ease-in forwards;
    }
    .box {
      animation: flyDown 0.2s ease-in 0.05s forwards;
    }
  }
}

.merrywrap {
  position: relative;
  min-height: 100vh;
  padding: 48px 0;
}

.letter-card {
  position: relative;
  margin: 0 auto;
  z-index: 20;
  transition: opacity 0.8s ease;
}

@keyframes wobble {
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
@keyframes flyUp {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(20deg);
    opacity: 0;
  }
}
@keyframes flyDown {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
